
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: contents;
    margin: auto;
   
   
}

header {
    color: white;
    text-align: center;
}

.hero1 {
    display: flex;
    background: #4A90E2;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 30px; 
    margin-top: 0;
    padding-top: 0;
    position: sticky !important;
    
}

.logo {
    font-size: 24px; 
    font-weight: bold;
}

nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    color: white; 
    text-decoration: none; 
    font-weight: bold;
}
nav ul li:hover{
    color: #1c3858; 

}


.hero {
    padding: 30px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
}

.resume a{
    padding: 10px 16px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    background: #4A90E2;
    color: #f4f4f4;
    margin-bottom: 5% ;
}
.resume a :hover{
    background: #1c3858;
    color: white;
    cursor: pointer;
}

#about {
    margin: -5px 0;
    text-align: center;
}
#about h2{
    font-size: 50px;
}

#about img {
    width: 150px; 
    border-radius: 50%;
}

.icon {
    margin-top: 3%;
    padding: 15px 20px;
}

.icon a {
    margin: 0 10px;
    font-size: 24px; 
}

.skill{
    margin-top: 15px;
}
.skill h2{
    text-align: center !important;
    margin-top: 10%;
    font-weight: bold;
    font-size: 20px;
}
.about-skill{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s;
    margin-left: 20px;
}

.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #d6a55b -5.09%, #5d3570 106.28%);
}


section {
    margin: 40px 0;
    margin-left: 15px;
}

section h2{
    text-align: center;
}

.card {
    width: 100%;
    max-width: 22rem;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 20px auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-img-top {
    height: 150px;
    object-fit: cover;
}
.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
}
.card-text {
    font-size: 1rem;
    margin-bottom: 15px;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.btn {
    align-self: center;
    margin-top: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin-left: 10px;
}
.contact-item {
    flex: 1 1 calc(33% - 16px);
    margin: 8px;
    padding: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.contact-item hr {
    margin: 16px 0;
}

.footer {
    background: #333; 
    margin-left: 10px;
    color: white; 
    padding: 20px 0;
    text-align: center; 
}

.footer-bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px; 
}

.footer-bottom-left {
    margin: 0;
}


@media (max-width: 768px) {
    .hero1 {
        flex-direction: column; 
        align-items:center 
    }

    nav ul {
        flex-direction: column; 
    }

    nav ul li {
        margin: 10px 0; 
    }
    .contact-item {
        flex: 1 1 calc(50% - 16px); 
    }

    .footer-bottom {
        flex-direction: column; 
        align-items: center;
    }
}

@media (max-width: 480px) {
    .contact-item {
        flex: 1 1 100%; 
    }
}
